.login {
    width:400px;
    text-align: center;
    display:block;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 3px;
}
#account_id {
    width: 300px;
    height: 20px;
    margin-bottom: 3px;
}
#account_password {    
    width: 300px;
    height: 20px;
    margin-bottom: 8px;
}
#account_submit {
    width : 300px;
    height: 30px;
    font-size:large;
}
